# Proyecto 1

## Importaci√≥n de datos

In [60]:
# importar datos a un dataframe de master.csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Leer el archivo master.csv
df = pd.read_csv('master.csv')
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [61]:
"""
from ydata_profiling import ProfileReport
profile = ProfileReport(df)
profile
profile.to_file("profiler.html")
"""

'\nfrom ydata_profiling import ProfileReport\nprofile = ProfileReport(df)\nprofile\nprofile.to_file("profiler.html")\n'

In [62]:
# Debemos cambiar el nombre de ' gdp_for_year ($) ' a 'gdp_for_year' y 'gdp_per_capita ($)' a 'gdp_per_capita'
df.rename(columns={' gdp_for_year ($) ':'gdp_for_year', 'gdp_per_capita ($)':'gdp_per_capita'}, inplace=True)
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year,gdp_per_capita,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

## Explore los datos para encontrar preguntas interesantes y l√≠neas de investigaci√≥n.

### a) Comience describiendo cu√°ntas variables y observaciones tiene disponibles, y el tipo de cada una de las variables

In [63]:
# cuantas variables hay?
print(f"hay {len(df.columns)} y son las siguientes:")

list_columns = list(df.columns)
for each in list_columns:
    print(f"{each}  \t\t: {df[each].dtype}")


# crea un df llamado df_vars con las variables del df y un ejemplo de cada una
df_vars = pd.DataFrame()
for each in list_columns:
    df_vars[each] = [df[each].iloc[100]]

print(f"El df_vars tiene {len(df_vars.columns)} columnas y son las siguientes:")
df_vars.head()

hay 12 y son las siguientes:
country  		: object
year  		: int64
sex  		: object
age  		: object
suicides_no  		: int64
population  		: int64
suicides/100k pop  		: float64
country-year  		: object
HDI for year  		: float64
gdp_for_year  		: object
gdp_per_capita  		: int64
generation  		: object
El df_vars tiene 12 columnas y son las siguientes:

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year,gdp_per_capita,generation
0,Albania,1997,female,15-24 years,21,294000,7.14,Albania1997,NaN,"2,359,903,108",793,Generation X

En el conjunto de datos podemos encontrar 12 variables distintas, de las cuales 3 de tipo texto, 6 de tipo n√∫merico, y 3 de tipo categ√≥rico. En el conjunto de datos se encontro que hay un total de 19456 de celdas vacias, lo que representa un 5.8% del total de datos, donde la columna HDI_for_year contiene la totalidad de estas celdas vac√≠as, representando el 69.9% de los datos en dicha columna, por lo que no es viable eliminar las filas que no posean dicho dato, por esto se deber√° evaluar un acercamiento correcto a este problema. Las columnas de n√∫mero de suicidios y n√∫mero de suicidios por cada 100k de poblaci√≥n poseen ceros, sin embargo esto no es un problema ya que por la naturaleza de estas columnas es normal y factible que contengan datos de esta √≠ndole. La columna de sexo est√° uniformemente distribuida, por lo que se cuenta con la misma cantidad de datos tanto para hombres como para mujeres, lo cual es bastante bueno para un an√°lisis sin sesgos. En cuanto a las edades que se encuentran en los datos, ya que se encuentran en una variable de tipo categ√≥rico, se cuenta con los intervalos de:
- 15-24
- 25-34
- 35-54
- 55-74
- 75 +

Estos rangos se cambiaran a variables de tipo n√∫merico para poder separar cada uno de los rangos por columnas distintas. Lo mismo se har√° para la variable sexo y para la generaci√≥n, siendo esta ultima dividida en las categor√≠as de:
- Generation X
- Silent
- Millenials
- Boomers
- G.I. Generation




| Variable          | Tipo de Variable       |
|-------------------|------------------------|
| country           | Cualitativa Nominal    |
| year              | Cuantitativa Discreta  |
| sex               | Cualitativa Nominal    |
| age               | Cualitativa Ordinal    |
| suicides_no       | Cuantitativa Discreta  |
| population        | Cuantitativa Discreta  |
| suicides/100k pop | Cuantitativa Continua  |
| country-year      | Cualitativa Nominal    |
| HDI for year      | Cuantitativa Continua  |
| gdp_for_year      | Cuantitativa Continua  |
| gdp_per_capita    | Cuantitativa Continua  |
| generation        | Cualitativa Ordinal    |

In [64]:
# en la columna age, debemos eliminar en todas las columnas ' years'. 
df['age'] = df['age'].str.replace(' years', '')
df.head(5)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year,gdp_per_capita,generation
0,Albania,1987,male,15-24,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [65]:
# age dummies
age_dummies = pd.get_dummies(df['age'], prefix='age')
df = pd.concat([df, age_dummies], axis=1)
df.drop('age', axis=1, inplace=True)
df.head()

,country,year,sex,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year,gdp_per_capita,generation,age_15-24,age_25-34,age_35-54,age_5-14,age_55-74,age_75+
0,Albania,1987,male,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X,True,False,False,False,False,False
1,Albania,1987,male,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent,False,False,True,False,False,False
2,Albania,1987,female,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X,True,False,False,False,False,False
3,Albania,1987,male,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation,False,False,False,False,False,True
4,Albania,1987,male,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers,False,True,False,False,False,False

In [66]:
# generation dummies
generation_dummies = pd.get_dummies(df['generation'], prefix='generation')
df = pd.concat([df, generation_dummies], axis=1)
df.drop('generation', axis=1, inplace=True)
df.head()

,country,year,sex,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year,gdp_per_capita,...,age_35-54,age_5-14,age_55-74,age_75+,generation_Boomers,generation_G.I. Generation,generation_Generation X,generation_Generation Z,generation_Millenials,generation_Silent
0,Albania,1987,male,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,...,False,False,False,False,False,False,True,False,False,False
1,Albania,1987,male,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,...,True,False,False,False,False,False,False,False,False,True
2,Albania,1987,female,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,...,False,False,False,False,False,False,True,False,False,False
3,Albania,1987,male,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,...,False,False,False,True,False,True,False,False,False,False
4,Albania,1987,male,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,...,False,False,False,False,True,False,False,False,False,False

In [67]:
# sex dummies
sex_dummies = pd.get_dummies(df['sex'], prefix='sex')
df = pd.concat([df, sex_dummies], axis=1)
df.drop('sex', axis=1, inplace=True)
df.head()

,country,year,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year,gdp_per_capita,age_15-24,...,age_55-74,age_75+,generation_Boomers,generation_G.I. Generation,generation_Generation X,generation_Generation Z,generation_Millenials,generation_Silent,sex_female,sex_male
0,Albania,1987,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,True,...,False,False,False,False,True,False,False,False,False,True
1,Albania,1987,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,False,...,False,False,False,False,False,False,False,True,False,True
2,Albania,1987,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,True,...,False,False,False,False,True,False,False,False,True,False
3,Albania,1987,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,False,...,False,True,False,True,False,False,False,False,False,True
4,Albania,1987,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,False,...,False,False,True,False,False,False,False,False,False,True

### c) Haga un resumen de las variables num√©ricas e investigue si siguen una distribuci√≥n normal y tablas de frecuencia para las variables categ√≥ricas, escriba lo que vaya encontrando.

| Variable numericas                   | Tipo de Variable       |
|-----------------------------|------------------------|
| year                        | Cuantitativa Discreta |
| suicides_no                 | Cuantitativa Discreta |
| population                  | Cuantitativa Discreta |
| suicides/100k pop           | Cuantitativa Continua |
| HDI for year                | Cuantitativa Continua |
| gdp_for_year                | Cuantitativa Continua |
| gdp_per_capita              | Cuantitativa Continua |

#### Tablas de frecuencia de las variables num√©ricas